@import "./base.css";

#app {
  min-height: 100vh;
  font-weight: normal;

  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: min(80vw, var(--max-length))
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
}

h1, h2, h3, h4 {
  color: var(--color-heading);
  font-family: "Work Sans", sans-serif;
  line-height: 1.1;
}
p {
  font-family: Roboto, sans-serif;
}
.right {
  margin-left: auto;
}

/* ANIMATIONS on scroll */
[aos="fade-left"] {
  opacity: 0;
  transform: translate3d(-4rem, 0, 0);
}
.fade-left {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease-in-out;
}

[aos="fade-right"] {
  opacity: 0;
  transform: translate3d(4rem, 0, 0);
}
.fade-right {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 50%, 1);
  }
}
