@import "./base.css";

#app {
  min-height: 100vh;
  font-weight: normal;

  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  line-height: 1.1;
  text-align: left;
}
button {
  background-color: transparent;
  font-size: 1rem;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 1em;
  padding: 0.8em 1em;
  transition: all 0.4s ease-in-out;
}
button:focus,
button:hover {
  border: 1px solid var(--color-accent-mute);
  color: var(--color-accent-mute);
  transition: none;
}

/* UTILITY */
.highlight {
  background-color: var(--color-accent);
  color: var(--color-heading);
}
.highlight:hover {
  background-color: hsla( var(--color-accent-base), 75%, 1);
  color: var(--color-heading);
}
.wrapper {
  width: min(80vw, var(--max-length));
  margin: 0 auto;
}
.right { margin-left: auto; }
.f-800 { font-weight: 800; }
.f-700 { font-weight: 700; }
.f-600 { font-weight: 600; }
.f-500 { font-weight: 500; }
.f-300 { font-weight: 300; }

/* ANIMATIONS on scroll */
[aos="fade-left"] {
  --delay: 0ms;
  opacity: 0;
  transform: translate3d(-4rem, 0, 0);
}
.fade-left {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease-in-out var(--delay);
}

[aos="fade-right"] {
  --delay: 0ms;
  opacity: 0;
  transform: translate3d(4rem, 0, 0);
}
.fade-right {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease-in-out var(--delay);
}

*:focus {
  outline: 1px solid var(--color-border-hover);
}

@media (hover: hover) {
  a:hover,
  a:focus {
    color: var(--color-accent-mute);
  }
}
