@import "./base.css";

#app {
  min-height: 100vh;
  font-weight: normal;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  width: min(80vw, var(--max-length));
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
}

h1, h2, h3, h4 {
  color: var(--color-heading);
  font-family: "Work Sans", "Roboto Medium", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  line-height: 1.1;
  text-align: left;
}
p {
  font-family: "Open Sans", Roboto, Arial, Helvetica, sans-serif;
}
.right {
  margin-left: auto;
}

/* ANIMATIONS on scroll */
[aos="fade-left"] {
  --delay: 0ms;
  opacity: 0;
  transform: translate3d(-4rem, 0, 0);
}
.fade-left {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease-in-out var(--delay);
}

[aos="fade-right"] {
  --delay: 0ms;
  opacity: 0;
  transform: translate3d(4rem, 0, 0);
}
.fade-right {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.8s ease-in-out var(--delay);
}

*:focus {
  outline: 1px solid var(--color-border-hover);
}

@media (hover: hover) {
  a:hover {
    color: var(--color-accent-mute);
  }
}
